@use "bootstrap";

//  ABOUT US

//SECTION: ABOUT
#about {
  ///COLORS
  main span {
    color: hsl(var(--accent));
  }
  /// POSITION & DISPLAY

  main {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  /// LENGTH AND STYLES
  ////LENGTH
  width: 80%;
  padding-block: 180px;
  margin-inline: auto;

  h2 {
    text-align: center;
    // font-size: 1rem;
    @include bootstrap.h4;
    padding-bottom: 20px;
  }
  main {
    p {
      ////TEXT
      text-align: justify;
      // font-size: 0.8rem;
      @include bootstrap.p_small;
      font-weight: bold;
    }
  }
}
