//  CONTACT US

// SECTION: CONTACT INFORMATION
#contact_infomation {
  > div {
    ///COLORS
    background-color: hsl(var(--card-main-bg));
    main a {
      color: hsl(var(--txt-accent));
    }

    @media (width > 1180px) {
      .portrait {
        background-color: hsl(var(--grey) / 0.4);
      }
    }
    /// POSITION & DISPLAY
    ////GRID
    display: grid;
    grid-template: 50% 50% / 1fr;
    .portrait {
      grid-area: 1 / 1 / 1 span / 1 span;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .info {
      grid-area: 2 / 1 / 1 span / 1 span;
      ////GRID
      display: flex;
      flex-direction: column;
      align-items: center;
      main {
        ////GRID
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }
    @media (width > 600px) {
      grid-template: 1fr / 40% 60%;
      .portrait {
        align-items: center;
      }
      .info {
        grid-area: 1 / 2 / 1 span / 1 span;
        justify-content: center;
      }
    }
    /// LENGTH AND STYLES
    ////LENGTH
    max-width: 80vw;
    width: 310px;
    height: 380px;
    margin-inline: auto;
    ////DECORATION
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 0px hsl(var(--grey));
    .portrait {
      height: 100%;
      width: 100%;
      img {
        ////LENGTH
        height: 130px;
        aspect-ratio: 1 / 1;
        ////DECORATION
        border-radius: 100%;
        overflow: hidden;
        object-fit: cover;
        object-position: center center;
      }
    }
    .info {
      height: 100%;
      // padding-inline: 30px;
      text-align: center;
      > * {
        ////LENGTH
        height: fit-content;
        width: fit-content;
      }
    }

    @media (width > 600px) {
      width: 100%;
      height: 300px;
      .portrait {
        img {
          height: 80%;
        }
      }
      .info {
        grid-area: 1 / 2 / 1 span / 1 span;
        justify-content: center;
      }
    }
    @media (width > 1180px) {
      height: 450px;
      max-width: 900px;
    }
  }
}

//SECTION: MAP
#map {
  ///COLORS
  /// POSITION & DISPLAY
  /// LENGTH AND STYLES
  ////LENGTH
  min-width: 100%;
  max-width: none;
  height: 300px;
  padding-top: 0;
  // margin-bottom: 20px;
  ////DECORATION
  border-radius: 5px;
  overflow: hidden;
  iframe {
    ////LENGTH
    width: 100%;
    height: 100%;
  }
}

// SECTION: CONTACT
#contact {
  max-width: none;
  .container {
    ////FLEX
    display: flex;
    justify-content: center;
    align-items: center;
    ////LENGHT
    width: auto;
    height: auto;
    min-height: calc(100vh - 90px);
    margin: 0 20px 20px;
    ////DECORATION
    background: linear-gradient(-45deg, #ee7752, #ca870b9c, #23a6d5, #23d5ab);
    background-size: auto;
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    border-radius: 50px;

    .form {
      ////LENGTH
      padding: 20px;
      ////DECORATION
      border-radius: 5px;
      label,
      input[type="checkbox"] {
        cursor: pointer;
      }
      input[type="text"],
      input[type="number"],
      select,
      textarea {
        ////LENGHT
        width: 100%;
        padding: 12px;
        margin-top: 6px;
        margin-bottom: 16px;
        ////TEXT
        font-size: 0.8rem;
        ////DECORATION
        border: 1px solid hsl(var(--main-bg));
        resize: vertical;
        background-color: hsl(var(--secondary-bg) / 0.062);
        border-radius: 8px;

        @media (width > 600px) {
          ////TEXT
          font-size: clamp(0.8rem, 0.71rem + 0.24vw, 1rem);
        }
      }

      textarea {
        ////LENGHT
        min-height: 140px;
      }

      button {
        background-color: hsl(var(--secondary-bg) / 0.2);
        color: hsl(var(--txt-light));
        ////LENGTH
        padding: 15px 25px;
        ////DECORATION
        cursor: pointer;
        border: none;
        border: 1px solid hsl(var(--main-bg));
        border-radius: 8px;

        &:hover {
          background-color: hsl(var(--accent-bg));
        }
      }
      main {
        .services > div {
          display: grid;
          grid-template-columns: 1fr 1fr;
          /////Custom checkbox
          > label {
            display: grid;
            grid-template-columns: 35px 1fr;
            align-items: center;
            ////LENGTH
            margin-bottom: 12px;
            ////TEXT
            font-size: 22px;
            ////
            cursor: pointer;
            user-select: none;
            /////Hide the browser's default checkbox
            input {
              ////POSITION
              position: absolute;
              opacity: 0;
              height: 0;
              width: 0;
            }
            .checkmark {
              ////FLEX
              display: flex;
              justify-content: center;
              align-items: center;
              ////LENGTH
              height: 25px;
              width: 25px;
              ////DECORATION
              background-color: hsl(var(--grey) / 0.8);
              border: 1px solid hsl(var(--main-bg) / 0.6);
              border-radius: 5px;
              &:after {
                content: "";
                display: none;
                ////Style the checkmark/indicator
                ////LENGTH
                width: 5px;
                height: 10px;
                ////DECORATION
                border: solid hsl(var(--white));
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
              }
              ~ span {
                ////TEXT
                width: fit-content;
                height: fit-content;
                font-size: clamp(0.8rem, 0.71rem + 0.24vw, 1rem);
              }
            }
            /////Hide the browser's default checkbox
            input:checked {
              ~ .checkmark {
                background-color: hsl(var(--accent-bg));
                ////Show the checkmark when checked
                &::after {
                  display: block;
                }
              }
            }
            &:hover input ~ .checkmark,
            input:focus ~ .checkmark {
              filter: brightness(95%);
            }
          }
        }
        .contact_info label,
        .services > label,
        > label,
        button {
          font-weight: bold;
        }
      }
    }

    header {
      ////TEXT
      text-align: center;

      h2 {
        color: hsl(var(--txt-light));
        font-size: 2rem;
      }

      p {
        color: hsl(var(--txt-light));
      }
    }

    main {
      float: left;
      margin-top: 6px;
      padding: 20px;

      > div {
        display: flex;
        flex-direction: column;
        column-gap: 10px;
      }
    }

    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    @media screen and (width < 600px) {
      ////LENGTH
      padding-inline: 5%;
      main,
      button {
        ////LENGTH
        width: 100%;
        margin-top: 0;
      }

      .form main .services > div {
        grid-template-columns: 1fr;
      }
    }
    @media (width > 1080px) {
      main > .contact_info {
        ////FLEX
        flex-direction: row;
      }
    }
  }
}
