#about {
  width: 80%;
  padding-block: 180px;
}
#about main span {
  color: hsl(var(--accent-bg));
}
#about main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#about h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 20px;
}
@media (width > 600px) {
  #about h2 {
    font-size: clamp(1.1rem, 0.83rem + 0.73vw, 1.7rem);
  }
}
#about main p {
  text-align: justify;
  font-size: 0.83rem;
}
@media (width > 600px) {
  #about main p {
    font-size: clamp(0.83rem, 0.31rem + 0.85vw, 1.33rem);
  }
}
#about main p span {
  font-weight: bold;
}
